---
title: Pricing
heading: Find the perfect plan for your business
description: All plans include full core product functionality, providing the best documentation experience.
pricing_table:
  - name: Team
    color: "#FFDD69"
    features:
      - text: Completely Free
        highlight: true
      - text: Up to 5 users
        highlight: false
      - text: Code intelligent features
        highlight: false
      - text: Core product functionality
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=basic
      text: Get started
  - name: Professional
    color: "#FF9133"
    features:
      - text: $15 per user per month
        highlight: true
      - text: Up to 100 users
        highlight: false
      - text: Everything in Team
        highlight: false
      - text: Admin and User Accounts
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=pro
      text: Get started
  - name: Enterprise
    color: "#E14A4A"
    features:
      - text: Contact Us
        highlight: true
      - text: Over 100 users
        highlight: false
      - text: Everything in Team
        highlight: false
      - text: Custom features to fit needs
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=professional
      text: Get started
faq:
  - question: What types of payment do you accept?
    answer: Credit cards including MasterCard, Visa or American Express.
  - question: Can I change my plan at a later time?
    answer: Yes, you can upgrade and downgrade your plan at anytime.
  - question: Questions?
    answer: Contact us for any further questions at <a href="#">contact@docforge.dev</a>.
---

<!--"#8e8e8e"-->
<!--"#4a4a4a"-->
 <!--"#000000"-->

<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ site.baseurl }}/contact/">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
